* {
  box-sizing: border-box;
}

.start-bg {
  background-image: url(../assets/background/dimebag-darrell-background.jpg);
  background-size: cover;
  background-position: center center;
  filter: blur(10px);
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 89vh;
  top: 0;
}

.start-header {
  z-index: 2;
  position: relative;
  height: 10vh;
}

.logo-container {
  margin-left: 1rem;
}

.logo-link {
  text-decoration: none;
}

.logo-h1 {
  font-family:'Black Ops One';
  color: red;
  font-size: 5rem;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.logo-h2 {
  font-family:'Ruslan Display';
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin: 0;
  color: white;
}
.start-main {
  height: 80vh;
  display: flex;
  justify-content: center;
  // position: relative;
  z-index: 2;
}

.nav-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
}

.button {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  width: 12rem;
  height: 4rem;
  line-height: 4rem;
  background-color:rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: rgba(255, 255, 255, 0.527);
  }
}

.footer {
/*   position: absolute;
  bottom: 0;
  z-index: 1; */
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient( rgba(119, 119, 119, 0.8), rgba(0, 0, 0, 0.5) ), url(../assets/background/footer_bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 1.5rem 1rem 0;
  // filter: brightness(40%);
}

.footer-blur {
  position: absolute;
  z-index: 2;
  top: -10px;
  left: -20px;
  height: 4vh;
  width: 120vw;
  background: black;
  filter: blur(15px);
}

.footer-author {
  text-decoration: none;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  font-family:'Black Ops One';
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.footer-date {
  font-family:'Black Ops One';
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 3rem;
}

.footer-course img {
  width: 152px;
  height: 55px;
}

@media only screen and (max-width : 768px) { 
  .logo-h1 {
    font-size: 4rem;
  }
  .logo-h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width : 566px) { 
  .logo-h1 {
    font-size: 2rem;
  }
  .logo-h2 {
    font-size: 1.5rem;
  }
  .button {
    font-size: 1.5rem;
    width: 9rem;
    height: 3rem;
    line-height: 3rem;
  }
  .footer-author, .footer-date { 
    font-size: 1rem;
  }
  .footer-date {
    margin-right: 1rem;
  }
  .footer-course > img {
    width: 87px;
  }
}