* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #222;
  color: #fff;  
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  height: 10vh;
}
.game-header .logo-h1 {
  font-size: 2.5rem;
}
.game-header .logo-h2 {
  font-size: 1.5rem;
}

.link-header {
  text-decoration: none;
  color: white;
}

.game-bg {
  background-image: url(../assets/background/game-bg.jpg);
  background-size: cover;
  background-position: center center;
  filter: blur(10px);
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 89vh;
  top: 0;
}

.main-game {
  margin: 0 auto;
  max-width: 1200px;
  z-index: 2;
  position: relative;
  height: 78vh;  // need fix this
}

.nav-birds__ul {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  // background-color: rgb(0, 126, 84);
  border-radius: 5px;
  & li {
    flex: auto;
    text-align: center;
    position: relative;
    // flex-basis: 9.5rem;
    width: 9.5rem;
    flex-grow: 1;
    margin-right: 1rem;
    // transition: all 1s ease-in;
    & span {
      font-family: 'Rock Salt';
      padding: 0.5rem 0.75rem;
      position: relative;
      display: block;
      z-index: 2;
    }
  }
/*   &::before {
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  } */
}

@keyframes append-animate {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

.highlight-box {
	animation: append-animate 1s linear forwards;
}

.nav__li-active {
  transform: scale(1.1);
}

.li-bg {
  width: 100%;
  height: 100%;
  background:rgb(183, 0, 0);
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: skewX(-20deg);
}

.li-bg__active {
  background:rgb(243, 0, 0);
}

.player-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.478);
  padding: 20px;
  height: 200px;
  gap: 40px;
  margin-top: 1.5rem;
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 1px solid rgb(128, 128, 128);
}

.player-container__down {
  margin-top: 0;
  border: none;
}

// .birds-img, 
.right-container {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.birds-img {
  width: 158px;
  border-radius: 5px;
  filter: grayscale(1) contrast(150%);
}

.cover-container {
  display: grid;
  gap: 10px; 
  grid-template-columns: auto 0 auto;
  place-items: center;
  position: relative;
}

.cover-container__full {
  width: 158px;
  height: 158px;
}

.cover-img__full {
  width: 100%;
}

@keyframes anim-img1 {
  // from {transform: translate(0px, 0px);}
  100% {transform: translate(10px, 10px);}
}
@keyframes anim-img2 {
  from {transform: translate(0px, 0px);}
  to {transform: translate(0px, 10px);}
}
@keyframes anim-img3 {
  from {transform: translate(0px, 0px);}
  to {transform: translate(-10px, 10px);}
}
@keyframes anim-img4 {
  from {transform: translate(0px, 0px);}
  to {transform: translate(-10px, -10px);}
}
@keyframes anim-img5 {
  from {transform: translate(0px, 0px);}
  to {transform: translate(0px, -10px);}
}
@keyframes anim-img6 {
  from {transform: translate(0px, 0px);}
  to {transform: translate(10px, -10px);}
}

@keyframes anim-opacity {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.hide-cover {
  animation: anim-opacity 0.3s ease-in 0.25s forwards;
}

.anim1 {
  // animation-name: anim-img1, anim-opacity ;
  // animation-duration: 0.5s;
  // animation-delay: 0.25s;
  // animation-timing-function: ease-in-out;
  // animation-iteration-count: 2;
  // animation-direction: alternate;
  animation: anim-img1 0.3s ease-in-out 2 alternate;
}
.anim2 {
  animation: anim-img2 0.3s ease-in-out 2 alternate;
}
.anim3 {
  animation: anim-img3 0.3s ease-in-out 2 alternate;
}
.anim6 {
  animation: anim-img4 0.3s ease-in-out 2 alternate;
}
.anim5 {
  animation: anim-img5 0.3s ease-in-out 2 alternate;
}
.anim4 {
  animation: anim-img6 0.3s ease-in-out 2 alternate;
}

.cover-img {
  width: 69px;
  aspect-ratio: 1;
  object-fit: cover;
  transition: .35s;
  z-index: 2;
  // filter: grayscale();
  // cursor: pointer;
}

.cover-container > img:nth-child(1) {
  clip-path: polygon(0 0,50% 0,100% 100%,0 100%);
}
.cover-container > img:nth-child(2) {
  clip-path: polygon(0 0,100% 0,50% 100%);
}
.cover-container > img:nth-child(3) {
  clip-path: polygon(50% 0,100% 0,100% 100%,0 100%);
}
.cover-container > img:nth-child(4) {
  clip-path: polygon(0 0,100% 0,50% 100%,0 100%);
}
.cover-container > img:nth-child(5) {
  clip-path: polygon(50% 0,100% 100%,0% 100%);
}
.cover-container > img:nth-child(6) {
  clip-path: polygon(0 0,100% 0,100% 100%,50% 100%);
}

.win-cover {
  position: absolute;
  width: 133px;
  transition: all 0.5s ease-in-out;
  transform: scale(0.5);
  opacity: 0;
}
.win-cover__show {
  opacity: 1;
  transform: scale(1.2);
}

.right-container { 
  display: flex;
}

.name-song__h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  border-bottom: 1px solid rgb(85, 85, 85);
}

.audio-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-radius: 50%;
  background-color: transparent;
  border-color: rgb(204, 0, 0);;
  padding: 0;
  cursor: pointer;
}

.audio-svg {
  width: 20px;
  height: 20px;
  fill: rgb(204, 0, 0);
}
#audio-stop {
  height: 14px;
  width: 14px;
}
#audio-play {
  height: 18px;
  width: 18px;
  padding-left: 2px;
}
#audio-volume {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 0.692);
}

.progress-container {
  width: 100%;
  // padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volume-container {
  display: flex;
  align-items: center;
}

.time-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}

.chose-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.chose-container__left, 
.chose-container__right{
  width: 49%;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-height: 384px;
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.chose-container__right{
  padding: 0;
}

.description-song {
  padding: 0 20px;
  text-align: justify;
  overflow-y: scroll;
  cursor: ns-resize;
  overflow: hidden;
  max-height: 150px;
}

.birds-ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.birds-li {
  display: flex;
  align-items: center;
  flex: 1;
  list-style-position: inside;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid rgb(128, 128, 128);
  color: rgb(128, 128, 128);
  cursor: pointer;
  &:last-child {
    border: none;
  }
  &:hover {
    background-color:rgb(128, 128, 128);
  }
}

.span-cyrcle {
  background:#616060;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  margin-right: 1rem;  
}

.span-cyrcle__fail{
  background: rgb(214, 0, 0);
}

.span-cyrcle__win{
  background: rgb(0, 126, 84);
}

.birds-li__span {
  color: white;
}

.birds-li__fail {
  color: red;
  background-color: #222;
  cursor: auto;
  pointer-events: none;
}
.birds-li__win {
  color:rgb(0, 126, 84);
  cursor: auto;
  // pointer-events: none;
}
.birds-li__disable {
  background-color: #222;
  cursor: auto;
  pointer-events: none;
}

.meme-container {
  max-height: 384px;
}
.meme-img {
  width: 100%;
  max-height: 384px;
}

@keyframes fade-out {
  from { background-position-x: 100%;}
  to { background-position-x: 0%;}
}

.play-animation {
  animation: fade-out 0.5s ease-in-out forwards;
}

.next-button {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 3rem;
  width: 100%;
  height: 3rem;
  color: white;
  background-repeat: no-repeat;
  background-size:200% 100%;
  background-image:  
  linear-gradient(to right, rgb(183, 0, 0) 50%, transparent 50%);
  background-position-x: 100%;
  transition: all 0.5s ease-out;
  border: 1px solid rgb(128, 128, 128);
  // border-radius: 5px;
  margin-top: 1.5rem;
  &:hover {
    transform: scale(1.03);
  }
}

.disable-link {
  background-color: #303030;
  pointer-events: none;
}