@font-face {
  font-family:'Ruslan Display';
  src: url('../assets/fonts/Ruslan Display.eot');
  src: url('../assets/fonts/Ruslan Display.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Ruslan Display.woff2') format('woff2'),
  url('../assets/fonts/Ruslan Display.woff') format('woff'),
  url('../assets/fonts/Ruslan Display.svg#Ruslan Display') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Black Ops One';
  src: url('../assets/fonts/Black Ops One Regular.eot');
  src: url('../assets/fonts/Black Ops One Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Black Ops One Regular.woff2') format('woff2'),
  url('../assets/fonts/Black Ops One Regular.woff') format('woff'),
  url('../assets/fonts/Black Ops One Regular.svg#Black Ops One Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family: 'Rock Salt';
  src: url('../assets/fonts/RockSalt-Regular.eot');
  src: url('../assets/fonts/RockSalt-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/RockSalt-Regular.woff2') format('woff2'),
      url('../assets/fonts/RockSalt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch Regular';
  src: url('../assets/fonts/ChakraPetch-Regular.eot');
  src: url('../assets/fonts/ChakraPetch-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Chakra Petch Bold';
  src: url('../assets/fonts/ChakraPetch-Bold.eot');
  src: url('../assets/fonts/ChakraPetch-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch Italic';
  src: url('../assets/fonts/ChakraPetch-Italic.eot');
  src: url('../assets/fonts/ChakraPetch-Italic.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/ChakraPetch-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch Medium';
  src: url('../assets/fonts/ChakraPetch-Medium.eot');
  src: url('../assets/fonts/ChakraPetch-Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

